<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button mode="md" color="light"></ion-menu-button>
      <ion-button color="light" (click)="today()">Today</ion-button>
      <ion-button color="light" (click)="changeMode('month')">Month</ion-button>
      <ion-button color="light" (click)="changeMode('week')">Week</ion-button>
      <ion-button color="light" (click)="changeMode('day')">Day</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="showAddEvent" class="ion-padding">
    <ion-item>
      <ion-label><b>Title:</b></ion-label>
      <ion-input type="text" placeholder="Title" [(ngModel)]="newEvent.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Description:</b></ion-label>
      <ion-input type="text" placeholder="Description" [(ngModel)]="newEvent.description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Image:</b></ion-label>
      <ion-input type="text" placeholder="Image" [(ngModel)]="newEvent.img"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><b>Start Date</b></ion-label>
      <ion-datetime doneText="OK" cancelText="Cancel" i18n displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm"
        [(ngModel)]="newEvent.startTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label><b>End Date</b></ion-label>
      <ion-datetime doneText="OK" cancelText="Cancel" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D HH:mm"
        [(ngModel)]="newEvent.endTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-button color="danger" expand="block" (click)="addEvent()">Add Event</ion-button>
  </div>


  <ion-row *ngIf="!showAddEvent">
    <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <h2>{{ currentMonth }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar id="myCal " *ngIf="!showAddEvent" [eventSource]="allEvents" [calendarMode]="calendar.mode" startHour="0" noEventsLabel="There is no Event to Dispaly"
    endHour="23" step="30" startingDayWeek="1" [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)" (onEventSelected)="onEventSelected($event)" [timeInterval]="30">
  </calendar>



  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showHideForm()">
      <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
      <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>