<ion-content>
  <div class="top">
    <div>
      <ion-buttons slot="start" class="menu_btn">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-label>Date Sheet</ion-label>
    </ion-buttons>
    </div>
    
  </div>

  <div class="content_div">
    <div class="list"> 
      <div class="one">
        <p>11</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>Science</p>
        <span>Monday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon> 09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>13</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>English</p>
        <span>Wensday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>15</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>Computer</p>
        <span>Friday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>18</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>Math</p>
        <span>Monday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon> 09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>20</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>Geography</p>
        <span>Wensday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>22</p>
        <span>JAN</span>
      </div>
      <div class="two">
        <p>History</p>
        <span>Friday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>11</p>
        <span>FEB</span>
      </div>
      <div class="two">
        <p>Science</p>
        <span>Monday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon> 09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>13</p>
        <span>FEB</span>
      </div>
      <div class="two">
        <p>English</p>
        <span>Wensday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>

    <div class="list"> 
      <div class="one">
        <p>15</p>
        <span>FEB</span>
      </div>
      <div class="two">
        <p>Computer</p>
        <span>Friday</span>
      </div>
      <div  class="three">
        <ion-icon name="time-outline"></ion-icon>  09:00 AM
      </div>
    </div>


  </div>
  
</ion-content>