<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
      <ion-label>Change Passowrd</ion-label>
    </div>
    
  </div>

  <div class="content_div">
    <form>
      <ion-grid>
        <ion-row>
          <ion-col size=12>
            <ion-item>
              <ion-label position="floating">Old Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size=12>
            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size=12>
            <ion-item>
              <ion-label position="floating">Retype Password</ion-label>
              <ion-input></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid><br>
     
        <ion-button color="danger" expand="full">Change Password</ion-button>
      
    </form>

  </div>
  
</ion-content>