<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
      <ion-label>Support</ion-label>
    </div>
    
  </div>

  <div class="content_div">
      <div>
        <img src="../../../assets/support.jpg" />
        <h3>Get Support</h3>
        <p>For any support request regards your
          orders or deliveries please feel free to
          speak with us at below.</p>
          <h4 id="mobile">Call US :  +91 8421xxxxxx</h4>
          <h4>Mail US : santu.ghau@gmail.com</h4>
      </div>
  </div>
  
</ion-content>