<ion-content>
  <div class="top">
    <div>
      <ion-buttons slot="start" class="menu_btn">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-label>Assignment</ion-label>
      </ion-buttons>
    </div>

  </div>

  <div class="content_div">
    <div>
      <div class="cardData">
        <span id="subject">Mathematics</span>
        <p>Surface Areas and Volumes</p>
        <p>Assign Date <span>26 Nov 2022</span></p>
        <p>LAst Submission Date <span>30 Dec 2022</span></p>
        <div class="paynow">
          TO BE SUBMITTED
        </div>
      </div>

      <div class="cardData">
        <span id="subject">Science</span>
        <p>Structure Of Items</p>
        <p>Assign Date <span>26 Nov 2022</span></p>
        <p>LAst Submission Date <span>30 Dec 2022</span></p>
        <div class="paynow">
          TO BE SUBMITTED
        </div>
      </div>

      <div class="cardData">
        <span id="subject">English</span>
        <p>My Best Friend Essay</p>
        <p>Assign Date <span>26 Nov 2022</span></p>
        <p>LAst Submission Date <span>30 Dec 2022</span></p>
        
      </div>
    </div>
  </div>

</ion-content>