<ion-content>
  <img src="../../../assets/1008.jfif" style="width:100%">
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="dark" class="back_btn"></ion-icon>
    </div>
  </div>

  <div class="description">
    <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
    <h3>Rhyme Time: A Night of Poetry</h3>
    <p>April is also National Poetry Month. Now there is a great theme for a fun family night! Combine poetry readings by students and adults. Invite guest readers and poets. Sell a book of student poems as a fund-raiser. Display portfolios of students' best poetry. Present your oldest students in a poetry slam competition, like teacher Brenda Dyck staged with her students (see the Education World article, A Poetry Slam Cures Midwinter Blahs). For more ideas for great poetry writing activities, don't miss Education World's special Poetry Month archive.</p>
  </div>
</ion-content>
