<ion-content>
  <div class="top">
    <div>
      <ion-buttons slot="start" class="menu_btn">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-label>Fees Due</ion-label>
      </ion-buttons>
    </div>

  </div>

  <div class="content_div">


      <div>
        <div class="cardData">
          <div class="horizontal-line">
            <p>Receipt No : <span style="float: right">#1111</span></p>
         
          </div>
       
          <div class="horizontal-line">
            <p>Month : <span style="float: right">October</span></p>
            <p>Payment Date : <span style="float: right">10 Oct 2022</span></p>
          </div>

          <div >
            <p>Total Pending Amount : <span style="float: right">$999</span></p>
          </div>
          
        </div>
        <div class="paynow" (click)="payNow()">
          Pay Now <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>

      <div class="downloadClass">
        <div class="cardData">
          <div class="horizontal-line">
            <p>Receipt No : <span style="float: right">#1111</span></p>         
          </div>
       
          <div class="horizontal-line">
            <p>Month : <span style="float: right">September</span></p>
            <p>Payment Date : <span style="float: right">10 Sep 2022</span></p>
            <p>Payment Mode  : <span style="float: right">Cash On Counter</span></p>
          </div>

          <div >
            <p>Total Pending Amount : <span style="float: right">$999</span></p>
          </div>
          
        </div>
        <div class="paynow">
          Download <ion-icon name="download"></ion-icon>
        </div>
      </div>

      <div class="downloadClass">
        <div class="cardData">
          <div class="horizontal-line">
            <p>Receipt No : <span style="float: right">#1111</span></p>         
          </div>
       
          <div class="horizontal-line">
            <p>Month : <span style="float: right">September</span></p>
            <p>Payment Date : <span style="float: right">10 Sep 2022</span></p>
            <p>Payment Mode  : <span style="float: right">Cash On Counter</span></p>
          </div>

          <div >
            <p>Total Pending Amount : <span style="float: right">$999</span></p>
          </div>
          
        </div>
        <div class="paynow">
          Download <ion-icon name="download"></ion-icon>
        </div>
      </div>

  </div>

</ion-content>