<ion-content>
  <div>
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>
  </div>
  <div class="top">
    <div class="nameText">
      <p>Hi <span>Yamini</span></p>
      <h6>Class XI-A | Roll No : 001</h6>
      <small>2022-2023</small>
    </div>
    <div class="imageTHumbnail">
      <img src="../../../assets/11.jpg" />
    </div>
  </div>

  <div class="middleBox">
    <div class="firstDiv">
      <img src="../../../assets/user.png" />
      <p>80.39%</p>
      <h6>Attendance</h6>
    </div>
    <div class="secondDiv">
      <img src="../../../assets/money.png" />
      <p>$1110</p>
      <h6>Fees Due</h6>
    </div>
    
  </div>

  <div class="bottomDiv">
    <div class="gridDiv">
      <div class="box">
        <img src="../../../assets/quiz.png"/>
        <p>Play Quiz</p>
      </div>
      <div class="box">
        <img src="../../../assets/assignment.png"/>
        <p>Assignment</p>
      </div>
      <div class="box">
        <img src="../../../assets/holiday.png"/>
        <p>School Holiday</p>
      </div>
      <div class="box">
        <img src="../../../assets/timetable.png"/>
        <p>Time Table</p>
      </div>
      <div class="box">
        <img src="../../../assets/result.png"/>
        <p>Result</p>
      </div>
      <div class="box">
        <img src="../../../assets/date.png"/>
        <p>Date Sheet</p>
      </div>
      <div class="box">
        <img src="../../../assets/questions.png"/>
        <p>Ask Doubts</p>
      </div>
      <div class="box">
        <img src="../../../assets/gallery.png"/>
        <p>School gallery</p>
      </div>
      <div class="box">
        <img src="../../../assets/calender.png"/>
        <p>Leave Application</p>
      </div>
      <div class="box">
        <img src="../../../assets/lock.png"/>
        <p>Change Password</p>
      </div>
      <div class="box">
        <img src="../../../assets/event.png"/>
        <p>Events</p>
      </div>
      <div class="box">
        <img src="../../../assets/logout.png"/>
        <p>Log Out</p>
      </div>
    </div>
    
  </div>
</ion-content>