<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
    </div>
    <ion-segment value="attendance" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="attendance">
        <ion-label>ATTENDANCE</ion-label>
      </ion-segment-button>
      <ion-segment-button value="holiday">
        <ion-label>HOLIDAY</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="content_div">
    
  </div>
  
</ion-content>