<ion-content>
  <div class="top">
    <div class="back_div">
      <ion-icon name="arrow-back-outline" (click)="goBack()" color="light" class="back_btn"></ion-icon>
      <ion-label>Events & Programs</ion-label>
    </div>
  </div>

  <div class="content_div">
    <div>
      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1010.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>


      <div class="cardData">
        <span id="subject">Fishing Tournament</span>
        <div class='box'>
          <div class="thumbnail">
             <img src="../../../assets/1011.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1017.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1013.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1014.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1015.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>

      <div class="cardData">
        <span id="subject">SleepOver Night</span>
        <div class='box'>
          <div class="thumbnail">
            <img src="../../../assets/1004.jfif" />
          </div>
          <div class="description">
            <ion-icon color="danger" name="time-outline"></ion-icon> <span> 06, Jan 2022 , 09:00 AM</span>
            <p class="paragraph">A sleepover is a great treat for kids. 
              Many schools use such an event as the. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>